.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Set background color of the body */
body {
  background-color: #e5eaf5;
  }
  
  /* Styling for the EmployeeInfo component */
  .EmployeeInfo {
  max-width: 500px;
  margin: 40px auto 0;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
  
  /* Styling for the labels inside the EmployeeInfo component */
  .EmployeeInfo label {
  display: block;
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: bold;
  color: black;
  }
  
  /* Styling for the form inside the EmployeeInfo component */
  .EmployeeInfo form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  }
  
  /* Styling for the input fields inside the EmployeeInfo component */
  .EmployeeInfo input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  }
  
  /* Styling for the submit button inside the EmployeeInfo component */
  .EmployeeInfo button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: rgb(69, 166, 208);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }
  
  /* Hover styling for the submit button inside the EmployeeInfo component */
  .EmployeeInfo button[type="submit"]:hover {
  background-color: rgb(67, 176, 73);
  }
  
  /* Styling for the heading element */
  h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  }
  
  /* Styling for the reset button inside the EmployeeInfo component */
  .EmployeeInfo button[type="reset"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #de6060;
  margin-bottom: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }
  
  /* Hover styling for the reset button inside the EmployeeInfo component */
  .EmployeeInfo button[type="reset"]:hover {
  background-color: rgb(205, 0, 0);
  }